:root{
    --branding-color: #ff69b4;
    --secondary-color: #f5efef;
    --paragraph-color: #272142;
    --heading-color:#000000;
    --heading-font-family:'Playfair Display', serif;
    --default-font-family:'Poppins', sans-serif;
    --box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

body{
    font-family: var(--default-font-family);
}

h1, 
h2,
h3,
h4, 
h5, 
h6 {
    color:var(--heading-color);
    font-family: var(--heading-font-family);
    font-weight: bold;
}

p {
    font-weight: normal;
    line-height: 30px;
}

h1 {
    font-size: 86px;
}

h3 {
    font-size: 40px;
}

.tennis, .vanilla, .react {
    width:350px; 
    height:400px;
    display: block; 
    margin: 0 auto;
    padding: 30px 36px;
    border-radius: 10px;
    border:1px solid var(--secondary-color);
    box-shadow: var(--box-shadow);
    background-color: var(--secondary-color);
}

.projectone, .projecttwo, .projectthree, .projectfour {
    display: block; 
    margin: 0 auto;
    width:320px; 
    height:350px;
    padding: 20px 26px;
    border-radius: 10px;
    border:2px solid var(--secondary-color);
    box-shadow: var(--box-shadow);
    background-color: var(--secondary-color);
}

.hero {
    background-color: var(--secondary-color);
    padding: 100px 20px; 
    text-align: center;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: var(--heading-color);
}

.hero h2 {
    font-family: var(--default-font-family);
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
}

.launch a{
   display: block;
}

.content-container {
    padding: 60px 20px; 
}

.content-container p {
    text-align: justify;
}

.content {
    margin: 30px;
}

.content h1{
    font-size: 52px;
    line-height: 80px;
}

.content h2 {
    font-size: 18px;
}

.content h3 {
    font-size: 24px;
    line-height: 1.5;
    margin: 20px 0 0;
    font-family: var(--default-font-family);
}

.content p {
    font-size: 14px;
}

.btn-branding {
    background:var(--branding-color);
    border-radius: 18px;
    padding: 15px 30px;
    font-size: 18px;
    line-height: 27px;
    color: var(--secondary-color);
    box-shadow: var(--box-shadow);
}

.btn-branding:hover {
    background-color: var(--secondary-color);
    color: var(--branding-color);
    border:1px solid var(--branding-color);
    transition: all 200ms ease-in-out;
}

.btn-outline {
    border-radius: 18px;
    padding: 15px 30px;
    font-size: 18px;
    line-height: 27px;
    color: var(--branding-color);
    border:1px solid var(--branding-color);
}

.btn-outline:hover {
    background-color: var(--branding-color);
    color: var(--secondary-color);
    transition: all 200ms ease-in-out;
}


.shecodes-link {
    font-weight: bold;
    text-decoration: none;
    color:var(--paragraph-color);
}

.shecodes-link:hover {
    color: var(--branding-color);
}

.project-description {
    text-align: justify;
    padding: 80px 40px;
}

.profilepicture {
    display: block; 
    margin: 0 auto;
    max-width: 60%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--secondary-color);
}

.navbar {
    padding:6px;
    box-shadow:rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

.navbar-light .navbar-nav .nav-link {
    color:var(--paragraph-color);
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--branding-color);
}

.nav-item {
    padding: 0 10px;
}

.navbar-brand {
    margin-left: 32px;
}

.email, .linkedin, .instagram {
    text-decoration: none;
    color: var(--branding-color);
}

.email:hover, .linkedin:hover, .instagram:hover {
    color:var(--paragraph-color);
}

footer {
    margin: 60px 0;
}

footer .contact-box {
    margin: 80px;
    background: var(--secondary-color);
    padding: 30px 100px;
    border-radius: 10px;
}

footer .contact-box p{
    margin: 0;
}

footer .email-link {
    text-decoration: none;
    color: var(--paragraph-color);
    font-size: 20px;
}

footer .email-link:hover, .github-link:hover {
    color:var(--branding-color)
}

footer .social-links a { 
    margin: 0 20px;
    padding: 8px 14px;
    font-size: 18px;
    border-radius: 50%;
    color:var(--branding-color);
    background-color: var(--secondary-color);
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: var(--secondary-color);
    background-color: var(--branding-color);
}

footer .contact-button {
    margin: 6px 0;
}

footer .github-link {
    color: var(--paragraph-color);
}

@media (max-width:900px) {
    h1 {
        font-size: 36px;
        line-height: 56px;
    }
  
    h3 {
        font-size: 18px;
    }

    .hero {
        padding: 60px 20px;
    }

    .hero h1 {
        font-size: 50px;
    }  
    
    .hero h2 {
        font-size: 24px;
    }

    .hero p {
        font-size: 28px;
        line-height: 1;
    }

    .content-container {
        padding:0;
    }
    .navbar-brand {
        margin-left: 0;
    }
    .project-description, #intro {
        padding:0;
        text-align: center;
    }

}